.sidebarThread {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.1);
  color: white;
  cursor: pointer;
}

.sidebarThread:hover {
  background-color: rgb(2, 87, 199);
}

.sidebarThread__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarThread__details {
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.sidebarThread__timestamp {
  position: absolute;
  right: 0;
}
